.glass {
    background: rgba(36, 36, 36, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.glass_nav {
    background: rgba(52, 0, 78, 0.7);
    backdrop-filter: blur(14px);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bg_color {
    background: rgba(20, 20, 20, 1);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.card_bg {
    background: rgba(5, 0, 44, 0.213);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(102, 102, 102, 0.229);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel_card_bg {
    background: rgba(89, 88, 97, 0.292);
    backdrop-filter: blur(12px);
    border: 0px solid rgba(102, 102, 102, 0.229);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    font-size: small;
    color: rgb(199, 198, 198);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.bg-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.overflow {
    overflow: visible;
    height: 100%;
}

.accent {
    color: rgb(82, 115, 125);
}

.profile_img {
    width: 160px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    margin-left:25px;
}

.profile_img_container {
    width: 200px;
    height: 200px;
    /* Altezza uguale alla larghezza per garantire che sia rotonda */
    border-radius: 50%;
    /* Rende il contenitore rotondo */
    overflow: hidden;
    /* Nasconde l'immagine che fuoriesce */
}