body {
    font-family: 'Inter', sans-serif;
}

.glass {
    background: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.glass_nav {
    background: linear-gradient(to bottom, rgba(100, 25, 133, 0.534), rgba(54, 14, 103, 0.54));
    backdrop-filter: blur(14px);
    border-radius: 60px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.mdb-button {
    background-color: #6200ea;
    /* Material Primary */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.mdb-button:hover {
    background-color: #3700b3;
    /* Material Hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.bg_color {
    background: rgba(0, 0, 0, 0.987);
    min-height: 160vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}

.bg-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.card_bg {
    background: rgba(5, 0, 44, 0.213);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(102, 102, 102, 0.229);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel_card_bg {
    background: rgba(89, 88, 97, 0.292);
    backdrop-filter: blur(12px);
    border: 0px solid rgba(102, 102, 102, 0.229);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card {
    height: 600px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}


.carousel_card {
    height: 450px;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    */
}

.card_img {
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 30px;
    ;
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.651);
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    font-size: small;
    color: rgb(199, 198, 198);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.overflow {
    overflow: visible;
    height: 100%;
}

.accent {
    color: rgb(198, 153, 209);
}

.accent_category {
    color: rgb(190, 131, 64);
}

.profile_img {
    height: 80%;
    object-fit: fill;
    display: block;
    overflow: hidden;
    margin-left: 25px;
}

.profile_img_container {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.separator {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    /* Colore del separatore */
    height: 100%;
    /* Altezze varie a seconda del contenuto */
}

.footer_image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 220px;
    height: 200px;
    z-index: 1;
}

.footer_color {
    background: rgba(20, 20, 20, 1);
    min-height: 20vh;
    background-size: cover;
    background-position: center;
}