<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' data-bs-theme="dark" lang=en>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>blog</title>

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>

    <header class="sticky-top">

        <nav class="navbar glass_nav">
            <div class="container-fluid my-o py-0 ">
                <a class="navbar-brand icon-link icon-link-hover fs-4 my-0 py-0 mx-5" th:href="@{/}">
                    RaffoTECH
                </a>
                <div class=" me-auto mx-4 ">
                    <a class="text-decoration-none text-white mx-4" href="">Home</a>
                    <a class="text-decoration-none text-white mx-4" href="">News</a>
                    <a class="text-decoration-none text-white mx-4" href="">Tecnologia</a>
                    <a class="text-decoration-none text-white mx-4" href="">Curiosità</a>
                </div>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto my-3 mb-lg-0 d-flex text-end">
                        <li>
                            <form class="d-flex ms-auto w-25 opacity-50" role="search">
                                <input type="text" name="title" class="form-control me-2 border-0 rounded"
                                    placeholder="Filtra per titolo" aria-label="Cerca per titolo">
                                <button class="btn btn-outline-tertiary rounded" type="submit">Vai</button>
                            </form>
                            <form class="d-flex my-2 ms-auto w-25 opacity-50" role="search">
                                <input type="text" name="body" class="form-control me-2 border-0 rounded"
                                    placeholder="Filtra per contenuto" aria-label="Cerca per contenuto">
                                <button class="btn btn-outline-tertiary rounded" type="submit">Vai</button>
                        </li>
                        <li>
                            <div class="fs-6 opacity-50">
                                <a class="btn btn-dark  p-2 icon-link icon-link-hover text-decoration-none  text-white rounded-pill"
                                    th:href="@{/ticket/admin}">
                                    <i class="bi bi-x" style="color: rgb(255, 255, 255);"></i>
                                    <span class="fs-6 mt-1"> rimuovi filtri</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN -->

    <main class="bg_color overflow">
        <div class="bg-color overflow">
            <div class="container bg_color pt-5 bg-image" th:style="'background-image: url(' + @{/img/back2.jpg} + ');'">
                <div class="row d-flex">
                    <!-- LEFT COL -->
                    <div class="col-lg-10">
                        <div class="row">
                            <!-- CARD -->
                            <div class="col-lg-3 my-4" th:each="post : ${post}">
                                <div class="card card_bg">
                                    <div class="card-body card_body">
                                        <!-- IMG -->
                                        <img th:src="@{/uploads/{imageName}(imageName=${post.imageUrl})}" alt="Photo"
                                            class="img-fluid w-100 rounded-pill py-3" style="max-height: 100px; object-fit: cover;">
                                        <!-- TITLE -->
                                        <h5 class="card-title fs-4 m-2" th:text="${post.title}"></h5>
                                        <!-- BODY  -->
                                        <p class="card-text" th:text="${#strings.abbreviate(post.body, 70)}"></p>
                                        <a href="#" class="accent text-decoration-none fs-6">continua a leggere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RIGHT COL  -->
                    <div class="col-lg-2">
                        <!-- PHOTO  -->
                         <div class="profile_img_container">
                            <img th:src="@{/img/raffProfileBG-rounded.png}" alt="RaffoV" class="profile_img">
                        </div>
                        <p class="text-white text-center my-1">RaffoTECH</p>
                        <!-- CAROUSEL -->
                        <div id="carouselExampleAutoplaying" class="carousel slide mt-4" data-bs-ride="carousel">
                            <div id="postCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
                                <div class="carousel-inner" style="height: 100%">
                                    <div class="carousel-item" th:each="post, iter : ${post}"
                                        th:classappend="${iter.index == 0} ? 'active'" style="height: 100%">
                                        <div class="card carousel_card_bg">
                                            <div class="card-body card_body">
                                                <img th:src="@{/uploads/{imageName}(imageName=${post.imageUrl})}" alt="Photo" class="img-fluid w-100 rounded-pill py-3"
                                                    style="max-height: 100px; object-fit: cover;">
                                                <h5 class="card-title" th:text="${post.title}"></h5>
                                                <p class="card-text" th:text="${#strings.abbreviate(post.body, 2000)}">
                                                </p>
                                                <!-- <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-primary">Leggi
                                                    di
                                                    più</a> -->
                                                    <a href="#" class="accent text-decoration-none fs-6">continua a leggere</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>



    <footer>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum quae laboriosam laudantium rerum, esse nihil
            molestias eligendi ea excepturi temporibus deserunt, assumenda perferendis praesentium, sequi doloremque
            officiis eaque maxime nam consequuntur quos amet placeat quia! Ea odio corrupti non quia harum accusantium
            tempore fugit labore amet. Excepturi facilis id modi vel molestiae nisi reiciendis explicabo, dolorum nobis.
            Culpa modi repellendus, cupiditate laudantium quasi quisquam deleniti. Aperiam assumenda accusantium
            aliquid, quos itaque iste tempore sit beatae debitis aspernatur earum ipsa culpa? Doloremque, debitis. Odio
            sunt placeat ipsa tempore mollitia, nam repellendus distinctio, ullam perferendis, quos asperiores ducimus
            voluptatem vero magnam sapiente? Commodi quasi quisquam maiores et officiis? Quia velit nostrum, odio,
            recusandae officia minus minima, repellat nihil sint cupiditate eveniet laboriosam quos? Eaque doloribus
            deleniti aut nobis fuga atque numquam rem nam, fugiat sit nulla maiores natus beatae, esse perferendis
            reprehenderit! Iure quia veritatis nesciunt, culpa voluptatibus pariatur magnam est tenetur, autem beatae
            animi aliquid reprehenderit omnis dolore ipsum ut ipsam ex cumque sint! Ab sit ducimus quos adipisci
            recusandae fugiat. Pariatur aperiam deleniti voluptatum quibusdam sequi sunt possimus quis fugiat dolore
            repellat, consectetur placeat molestias, delectus reprehenderit quasi iusto excepturi harum voluptas, autem
            consequatur in corrupti eveniet dignissimos. Autem quis quae nihil, in quibusdam voluptatum recusandae ullam
            quasi ipsum commodi unde quia, aspernatur voluptate, obcaecati libero. Maxime fuga repellendus ad minima
            perferendis, nam quae harum dolor possimus ut a, assumenda sed non, ab porro iste illo esse. Magnam quod
            facere non autem vitae molestiae, veritatis blanditiis enim, obcaecati molestias minus soluta laudantium id
            rem totam voluptatum ipsa. In temporibus laudantium, sapiente rem nam ea facilis fuga recusandae, quaerat
            minus corrupti numquam quas similique perferendis aliquid? Incidunt, quos magni natus quasi omnis saepe
            molestias? Tempore ipsam quasi adipisci corporis unde neque in, nemo cupiditate. Voluptatum hic mollitia
            unde error voluptatem tenetur deserunt ab, voluptate adipisci harum iusto corrupti minus autem. Laudantium
            cum consequatur recusandae.
        </p>
    </footer>


    <!-- Bootstrap bundle -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz'
        crossorigin='anonymous'></script>

</body>

</html>